<div>
    <form class="form-signin">
        <div class="text-center mb-1">
            <img
                class=""
                src="../../../assets/meet-up-logo-big.png"
                alt
                height="256"
            />
            <h1 class="h3 mb-1 font-weight-normal">Log In</h1>
            <div class="my-4" v-if="!error">
                Enter the up and coming social media platform!
            </div>
            <div class="my-4" style="color:red;" v-if="error">
                    {{error}}
            </div>
        </div>

        <div class="form-label-group">
            <input
                type="username"
                id="inputUsername"
                class="form-control"
                placeholder="Username"
                required
                autofocus
                v-model.trim="username"
            />
            <label for="inputUsername">Username</label>
        </div>

        <div class="form-label-group">
            <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                required
                v-model.trim="password"
            />
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label class="invisible">
                <input 
                    type="checkbox" 
                    value="remember-me"
                    v-model.trim="rememberMe"
                /> Remember me
            </label>
        </div>
        
        <button 
            class="btn btn-lg btn-primary btn-block" 
            type="submit"
            v-on:click.prevent="login"
        >
            Sign in
        </button>
        <button 
            class="btn btn-lg btn-warning btn-block" 
            type="redirect"
            v-on:click="create"
        >
            Create account
        </button>
        <p class="mt-5 mb-3 text-muted text-center">© 2019 MeetUp.</p>
    </form>
</div>
