#obj {
    text-align: center;
}

#map_card {
    background: #efefef;
}

.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 2px;
    text-align: center;
    font: 32px Arial, sans-serif;
    background: #777;
    color: #fff;
    border: 2px solid #777;
}

.circle:nth-child(4n + 1) {
    background: #fed766;
    border: 2px solid #fed766;
    color: #272727;
}
.circle:nth-child(4n + 2) {
    background: #009fb7;
    border: 2px solid #009fb7;
    color: #272727;
}
.circle:nth-child(4n + 3) {
    background: #696773;
    border: 2px solid #696773;
    color: #eff1f3;
}

.circle:nth-child(4n + 4) {
    background: #272727;
    border: 2px solid #272727;
    color: #eff1f3;
}

/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group .row {
    display: -ms-flexbox;
    display: -webkit-box;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.testimonial-group .row::-webkit-scrollbar {
    display: none;
}

.testimonial-group > .row > .col-xs-1 {
    display: inline-block;
    float: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
