<div>
    <OnboardingModal> </OnboardingModal>
    <GroupsModal :group="current_group"> </GroupsModal>
    <NewGroupModal> </NewGroupModal>
    <AccountModal> </AccountModal>
    <div id="dashboard" class="container">
        <Header></Header>
        <!-- Card Start -->
        <!-- <div class="card shadow p-2 mt-2 mb-4 bg-light rounded-lg border border-white">
      <div class="card-body row" style="display: -webkit-box;">
        <div class="col text-left">
          <h2 v-if="!current_group.name">{Group Name}</h2>
          <h2 v-else>{{current_group.name}}</h2>
        </div>
        <div class="col text-right">
          <div v-if="!current_group.members">
            <h2>{Member Icons}</h2>
          </div>
          <div v-else class="testimonial-group">
            <div class="row justify-content-end pr-3">
              <div class="col-xs-1 ml-2 circle" v-for="member in current_group.members" :key="member.username">
                <div data-toggle="tooltip" data-placement="left" :title="member.username">{{ member.username | initial }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
        <!-- Card End -->
        <!-- Card Start -->
        <div
            id="map_card"
            class="card shadow my-4 rounded-lg border border-white"
        >
            <div class="card-header">
                <div class="row">
                    <div class="col-md">
                        <h4 v-if="!current_group.name">{Group Name}</h4>
                        <h4 v-else>{{ current_group.name }}</h4>
                    </div>
                    <div class="col-md">
                        <div class="row text-right float-right">
                            <button
                                class="btn btn-info mx-2"
                                data-toggle="button"
                                aria-pressed="false"
                                v-on:click="show_schedule_section = !show_schedule_section"
                            >
                                Group Actions
                            </button>

                            <div class="dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    {{ weekdays[day_index] }}
                                </button>
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton"
                                >
                                    <a
                                        v-for="(day, day_idx) in weekdays"
                                        v-on:click="day_index = day_idx"
                                        :selected="day_index === day_idx"
                                        class="dropdown-item"
                                        href="#"
                                        >{{ day }}</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" v-if="show_schedule_section">
                <button
                    class="btn btn-warning mr-2"
                    v-on:click="get_browser_location"
                >
                    Get Browser Location
                </button>
                <button
                    class="btn btn-success mr-2"
                    v-on:click="get_point_location"
                >
                    Point to location
                </button>
                <button class="btn btn-danger" v-on:click="delete_location">
                    Delete location for selected day
                </button>
                <button
                    class="btn btn-primary mx-2"
                    v-on:click="open_groups_mgmt"
                >
                    Group Management
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 mb-3 mb-md-0">
                        <GoogleMap
                            ref="google_map"
                            :locations="locations"
                            :user="user_info"
                            :venues="venues"
                            :point_to_location_callback="point_to_location_callback"
                        ></GoogleMap>
                    </div>
                    <div
                        class="col-md-4 overflow-auto"
                        id="venues_list"
                        style="height: 50vh;"
                        v-if="map_loaded && venues && venues.length > 0"
                    >
                        <div class="row" v-for="venue in venues">
                            <li
                                class="list-group-item mb-2"
                                :id="venue.id"
                                style="width: 100%;"
                            >
                                <div class="container">
                                    <div class="row">
                                        <img
                                            class="mx-2"
                                            :src="venue.icon"
                                            height="24"
                                            width="24"
                                        />
                                        <h5>{{ venue.name }}</h5>
                                    </div>

                                    <div>
                                        User ratings:
                                        {{ venue.user_ratings_total || 0 }}
                                    </div>

                                    <div>Rating: {{ venue.rating || 0 }}</div>

                                    <div>{{ venue.vicinity }}</div>

                                    <div>
                                        <span
                                            v-if="!venue.opening_hours"
                                            class="badge badge-pill badge-info"
                                            >Unknown schedule</span
                                        >
                                        <span
                                            v-if="venue.opening_hours && venue.opening_hours.open_now"
                                            class="badge badge-pill badge-success"
                                            >Open Now</span
                                        >
                                        <span
                                            v-if="venue.opening_hours && !venue.opening_hours.open_now"
                                            class="badge badge-pill badge-danger"
                                            >Closed Now</span
                                        >
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div  class="my-auto mx-auto" v-else>
                        <span>
                            No venues
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div v-if="!current_group.members">
                    <h2>{Member Icons}</h2>
                </div>
                <div v-else class="testimonial-group">
                    <div class="row justify-content-end pr-3">
                        <div
                            class="col-xs-1 ml-2 circle"
                            v-for="member in current_group.members"
                            :key="member.username"
                        >
                            <div
                                data-toggle="tooltip"
                                data-placement="left"
                                :title="member.username"
                            >
                                {{ member.username | initial }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card End -->

        <!-- Card Start -->

        <div
            class="card shadow p-2 mt-2 mb-4 bg-light rounded-lg border border-white"
        >
            <CommentsSection></CommentsSection>
        </div>

        <!-- Card End -->
        <Footer></Footer>
    </div>
</div>
