<div>
    <OnboardingModal> </OnboardingModal>
    <GroupsModal :group="current_group"> </GroupsModal>
    <NewGroupModal> </NewGroupModal>
    <AccountModal> </AccountModal>
    <div id="dashboard" class="container">
        <Header></Header>
        <div
            id="map_card"
            class="card shadow my-4 rounded-lg border border-white"
        >
            <div class="card-header">
                <div class="row">
                    <div class="col-md">
                        <h4 v-if="!current_group.name">{Group Name}</h4>
                        <h4 v-else>
                            {{ current_group.name }}
                            <span class="badge badge-dark">{{
                                venues_type
                            }}</span>
                        </h4>
                    </div>
                    <div class="col-md">
                        <div class="row text-right float-right">
                            <button
                                class="btn btn-info mx-2"
                                data-toggle="button"
                                aria-pressed="false"
                                v-on:click="show_schedule_section = !show_schedule_section"
                            >
                                <span v-if="show_schedule_section">Hide</span
                                ><span v-else>Show</span> Group Actions
                            </button>

                            <div class="dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    {{ weekdays[day_index] }}
                                </button>
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton"
                                >
                                    <a
                                        v-for="(day, day_idx) in weekdays"
                                        v-on:click="day_index = day_idx"
                                        :selected="day_index === day_idx"
                                        class="dropdown-item"
                                        href="#"
                                        >{{ day }}</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" v-if="show_schedule_section">
                <div class="row">
                    <div class="col">
                        <ScheduleInput
                            class="mr-2"
                            v-model="time_intervals[day_index]"
                        ></ScheduleInput>
                        <button
                            class="btn btn-warning mr-2"
                            v-on:click="get_browser_location"
                        >
                            <i class="fas fa-location-arrow"></i> Browser
                            Location
                        </button>
                        <button
                            class="btn btn-success mr-2"
                            v-on:click="get_point_location"
                        >
                            <i class="fas fa-thumbtack"></i> Pick location
                        </button>
                        <button
                            class="btn btn-danger"
                            v-on:click="delete_location"
                        >
                            <i class="fas fa-ban"></i> Delete location
                        </button>
                    </div>
                    <div class="col-xs">
                        <button
                            class="btn btn-primary mx-2"
                            v-on:click="open_groups_mgmt"
                        >
                            <i class="fas fa-clipboard-list"></i> Options
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 mb-3 mb-md-0">
                        <GoogleMap
                            ref="google_map"
                            :locations="locations"
                            :user="user_info"
                            :venues="venues"
                            :point_to_location_callback="point_to_location_callback"
                        ></GoogleMap>
                    </div>
                    <div
                        class="col-md-4 overflow-auto"
                        id="venues_list"
                        style="height: 50vh;"
                        v-if="map_loaded && venues && venues.length > 0"
                    >
                        <div class="row" v-for="venue in venues">
                            <li
                                class="list-group-item mb-2"
                                :id="venue.id"
                                style="width: 100%;"
                            >
                                <div class="container">
                                    <div class="row">
                                        <img
                                            class="mx-2"
                                            :src="venue.icon"
                                            height="24"
                                            width="24"
                                        />
                                        <h5>{{ venue.name }}</h5>
                                    </div>

                                    <div>
                                        User ratings:
                                        {{ venue.user_ratings_total || 0 }}
                                    </div>

                                    <div>Rating: {{ venue.rating || 0 }}</div>

                                    <div>{{ venue.vicinity }}</div>

                                    <div class="row">
                                        <div class="col">
                                            <span
                                                v-if="!venue.opening_hours"
                                                class="badge badge-pill badge-info"
                                                >Unknown schedule</span
                                            >
                                            <span
                                                v-if="venue.opening_hours && venue.opening_hours.open_now"
                                                class="badge badge-pill badge-success"
                                                >Open Now</span
                                            >
                                            <span
                                                v-if="venue.opening_hours && !venue.opening_hours.open_now"
                                                class="badge badge-pill badge-danger"
                                                >Closed Now</span
                                            >
                                        </div>
                                        <div class="col text-right">
                                            <button
                                                class="badge badge-pill badge-warning"
                                                v-on:click="vote_venue(venue)"
                                            >
                                                Vote!
                                            </button>
                                        </div>
                                    </div>
                                    <div v-if="venue.voted" class="row mx-auto mt-2" style="color: gray; font-size: 75%;">
                                        <span>This venue shows only because it was previously voted</span>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="my-auto mx-auto" v-else>
                        <span>
                            No venues
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div v-if="!current_group.members">
                    <h2>{Member Icons}</h2>
                </div>
                <div v-else class="testimonial-group">
                    <div class="row justify-content-end pr-3">
                        <div
                            class="col-xs-1 ml-2 circle"
                            v-for="member in current_group.members"
                            :key="member.username"
                        >
                            <div
                                data-toggle="tooltip"
                                data-placement="left"
                                :title="member.username"
                            >
                                {{ member.username | initial }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card End -->

        <!-- Card Start -->
        <div
            class="card shadow p-2 mt-2 mb-4 bg-light rounded-lg border border-white"
        >
            <div class="card-body">
                <h3 class="text-center">Vote Results</h3>

                <span class="text-center">Somebody Must vote</span>

                <div class="row">
                    <div class="col">
                        <div class="row my-1">
                            <div
                                class="col-xs text-right"
                                style="width: 200px;"
                            >
                                Journey Pub
                            </div>
                            <div class="col-md">
                                <div class="progress" style="height: 35px;">
                                    <div
                                        class="progress-bar"
                                        role="progressbar"
                                        style="width: 66%"
                                        aria-valuenow="100"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div
                                class="col-xs text-right"
                                style="width: 200px;"
                            >
                                Ceainaria Infinitea
                            </div>
                            <div class="col-md">
                                <div class="progress" style="height: 35px;">
                                    <div
                                        class="progress-bar bg-danger"
                                        role="progressbar"
                                        style="width: 33%"
                                        aria-valuenow="100"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <h3 class="text-center">Location</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card End -->

        <!-- Card Start -->
        <div
            class="card shadow p-2 mt-2 mb-4 bg-light rounded-lg border border-white"
        >
            <div class="mx-5 my-5">
                <h5><b>Group Description: </b></h5>
                <h6><span class="mx-4 text-justify">{{ group_description }}</span></h6>
            </div>
            <CommentsSection></CommentsSection>
        </div>
        <!-- Card End -->

        <Footer></Footer>
    </div>
</div>
