<div>
    <div class="card-title text-center mt-2">
        <h3>Comments <span class="badge badge-secondary">{{comments_count}}</span></h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="mb-3">

                <div class="input-group">
                    <input id="comment-input" type="text" class="form-control" placeholder="Join the conversation"
                        aria-label="Join the conversation" v-model="new_comment" v-on:keyup.enter="add_comment" :maxlength="255" />
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="button" v-on:click="add_comment">
                            Send
                        </button>
                    </div>
                </div>
                <div class="ml-2" style="color: gray;">{{new_comment.length}}/255</div>
            </div>

            <div v-for="comment in current_comments_page" class="card my-2">
                <div class="card-body" :id="comment.comment_id">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <img v-if="comment && comment.user && comment.user.profile_picture_id != undefined" :src="comment.user.profile_picture_id" class="img img-rounded img-fluid"/>
                            <img v-else src="../../../../assets/user_default.png" class="img img-rounded img-fluid" />
                            <p class="text-secondary text-center">
                                {{comment.timestamp | time_ago}}
                            </p>
                        </div>
                        <div class="col-md-10">
                            <p class="mt-3" v-if="comment && comment.user">
                                <a class="float-left" :href="'#' + comment.comment_id"><strong>{{comment.user.username}}</strong></a>
                            </p>
                            <div class="clearfix"></div>
                            <p class="mt-2">
                                <span v-html="filter_reply(comment.content)"></span>
                            </p>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-right">
                                <a v-on:click="reply(comment)" class="float-right btn btn-outline-primary ml-2">
                                    <i class="fa fa-reply"></i> Reply</a>
                                <a v-if="comment.liked" v-on:click="dislike(comment)" class="float-right btn text-white btn-secondary">
                                    {{comment.likes}} <i class="fa fa-heart-broken"></i> Dislike</a>
                                <a v-else v-on:click="like(comment)" class="float-right btn text-white btn-danger">
                                    {{comment.likes}} <i class="fa fa-heart"></i> Like</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="pages > 0">
                <div class="text-center mb-3">
                    <a style="color: white;" class="btn btn-danger" :class="{ 'disabled' : page === 1}"
                        v-on:click="prev_page">Prev</a>
                    <span class="btn btn-danger mx-2">{{page}} / {{pages}}</span>
                    <a style="color: white;" class="btn btn-danger" :class="{ 'disabled' : page === pages}"
                        v-on:click="next_page">Next</a>
                </div>
            </div>

            <div v-else>
                No comments
            </div>

        </div>
    </div>
</div>