<div>
    <div class="card-title text-center mt-2">
        <h3>Comments</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="mb-3">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Join the conversation"
                        aria-label="Join the conversation"
                        v-model="new_comment"
                        :maxlength="255"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="button">
                            Send
                        </button>
                    </div>
                </div>
                <div class="ml-2" style="color: gray;">{{new_comment.length}}/255</div>
            </div>

            <div class="card my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img
                                src="../../../../assets/user_default.png"
                                class="img img-rounded img-fluid"
                            />
                            <p class="text-secondary text-center">
                                15 Minutes Ago
                            </p>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="float-left" href="#"
                                    ><strong>carol</strong></a
                                >
                            </p>
                            <div class="clearfix"></div>
                            <p>
                                Lorem Ipsum is simply dummy text of the pr make
                                but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was
                                popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages,
                                and more recently with de.
                            </p>
                            <p>
                                <a
                                    class="float-right btn btn-outline-primary ml-2"
                                >
                                    <i class="fa fa-reply"></i> Reply</a
                                >
                                <a
                                    class="float-right btn text-white btn-danger"
                                >
                                    <i class="fa fa-heart"></i> Like</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img
                                src="../../../../assets/user_default.png"
                                class="img img-rounded img-fluid"
                            />
                            <p class="text-secondary text-center">
                                32 Minutes Ago
                            </p>
                        </div>
                        <div class="col-md-10">
                            <p>
                                <a class="float-left" href="#"
                                    ><strong>radu</strong></a
                                >
                            </p>
                            <div class="clearfix"></div>
                            <p>
                                Lorem Ipsum is simply dummy text of the pr make
                                but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was
                                popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages,
                                and more recently with.
                            </p>
                            <p>
                                <a
                                    class="float-right btn btn-outline-primary ml-2"
                                >
                                    <i class="fa fa-reply"></i> Reply</a
                                >
                                <a
                                    class="float-right btn text-white btn-danger"
                                >
                                    <i class="fa fa-heart"></i> Like</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
