<div>
    <form class="form-create-account">
        <div class="text-center mb-1">
            <img
                class="mb-1"
                src="../../../assets/meet-up-logo-big.png"
                alt
                width="256"
                height="256"
            />
            <h1 class="h3 mb-1 font-weight-normal">Create Account</h1>
            <p>
                Join the up and coming social media platform!
            </p>
        </div>

        <div class="form-label-group">
            <input
                type="username"
                id="inputUsername"
                class="form-control"
                placeholder="Username"
                ref="username"
                required
                autofocus
                v-model.trim="username"
            />
            <label for="inputUsername">Username</label>
        </div>

        <!-- <div class="form-label-group">
            <input
                type="firstname"
                id="inputFirstname"
                class="form-control"
                placeholder="Firstname"
                required
                autofocus
                v-model.trim="firstname"
            />
            <label for="inputFirstname">Firstname</label>
        </div>

        <div class="form-label-group">
            <input
                type="lastname"
                id="inputLastname"
                class="form-control"
                placeholder="Lastname"
                required
                autofocus
                v-model.trim="lastname"
            />
            <label for="inputLastname">Lastname</label>
        </div> -->

        <div class="form-label-group">
            <input
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="Email"
                ref="email"
                required
                autofocus
                v-model.trim="email"
            />
            <label for="inputEmail">Email</label>
        </div>

        <div class="form-label-group">
            <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                ref="password1"
                required
                v-model.trim="password1"
            />
            <label for="inputPassword">Password</label>
        </div>

        <div class="form-label-group">
            <input
                type="password"
                id="inputRepeatPassword"
                class="form-control"
                placeholder="RepeatPassword"
                ref="password2"
                required
                v-model.trim="password2"
            />
            <label for="inputRepeatPassword">Repeat Password</label>
        </div>

        <!-- <div class="checkbox mb-3">
            <label>
                <input 
                    type="checkbox" 
                    value="agree-terms" 
                    required
                    v-model="termsAndConditions"
                /> Agree with the Terms and Conditions
            </label>
        </div> -->

        <button 
            class="btn btn-lg btn-warning btn-block" 
            type="submit"
            v-on:click.prevent="create"
        >
            Create account
        </button>
        <p class="mt-5 mb-3 text-muted text-center">© 2019 MeetUp.</p>
    </form>
</div>
